
h1 {
  color: RoyalBlue;
  margin-left: 80px;
}
h2 {
  color: CornflowerBlue;
  margin-left: 80px;
}
p {
  margin-left: 100px;
}
#bgv {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.content {
  z-index: 1;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  position: relative;
}
#skillsList {
  algin:left;
}
#certsList {
  align: center;
}
#ranksList {
  align: right;
}
