
h1 {
  color: Green;
}
h2 {
  color: LawnGreen;
}
h3 {
  color: Lime;
}
p {
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#bgv {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.content {
  z-index: 1;
  background: rgba(0, 0, 0, 0.0);
  width: 60%;
  height: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #faf9f6;
}
#siteDesc {
}
#skillsList {
}
#certsList {
}
#ranksList {
  
}
