
h1 {
  color: RoyalBlue;
}
h2 {
  color: CornflowerBlue;
  margin-left: 80px;
}
h3 {
  color: SkyBlue;
  margin-left: 80px;
}
p {
  margin-left: 100px;
}
#bgv {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.content {
  z-index: 1;
  background: rgba(0, 0, 0, 0.0);
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}
#siteDesc {
  text-align: justify;
}
#skillsList {
}
#certsList {
}
#ranksList {
}
